p{
  font-size: 30px;
  font-family: 'times new roman';
  color: blue;
  border-color: black;
  border-width: medium;
  border-style: solid;
  background-color: yellow;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin-left: 0px;
margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  align-content: stretch;
padding: 10px 0px 10px 7px;
}

section{
    margin-left: 50%;
    margin-bottom: 25px;
    border-color: green;
    border-style: solid;
    border-width: 20px;
    box-sizing: content-box;
    width: 200px;
}